apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  destination:
    namespace: operations
    server: https://kubernetes.default.svc
  source:
    repoURL: 'https://helm.traefik.io/traefik'
    targetRevision: 38.0.2
    chart: traefik
    helm:
      parameters:
        - name: deployment.replicas
          value: '2'
        - name: podDisruptionBudget.enabled
          value: 'true'
        - name: podDisruptionBudget.maxUnavailable
          value: '1'
        #- name: logs.general.level
        #  value: 'DEBUG'
        - name: logs.access.enabled
          value: 'true'
        - name: logs.access.format
          value: 'json'
        - name: logs.access.fields.headers.defaultmode
          value: 'keep'
        - name: service.type
          value: NodePort
        - name: ingressClass.enabled
          value: 'true'
        - name: ingressClass.isDefaultClass
          value: 'true'
        - name: ports.web.nodePort
          value: '32714'
        - name: providers.kubernetesIngress.enabled
          value: 'true'
        - name: providers.kubernetesCRD.enabled
          value: 'true'
        - name: ingressRoute.dashboard.enabled
          value: 'false'
        - name: additionalArguments[0]
          value: '--serversTransport.insecureSkipVerify=true'
        - name: additionalArguments[1]
          value: '--providers.kubernetesingress.ingressendpoint.hostname=eniworks.net'
        - name: additionalArguments[2]
          value: '--entryPoints.web.forwardedHeaders.insecure'
        - name: additionalArguments[3]
          value: '--entrypoints.web.transport.respondingtimeouts.readtimeout=3600s'
        - name: additionalArguments[4]
          value: '--entrypoints.web.transport.respondingtimeouts.writetimeout=3600s'
        - name: additionalArguments[5]
          value: '--entrypoints.web.transport.respondingtimeouts.idletimeout=3600s'
        - name: additionalArguments[6]
          value: '--serversTransport.forwardingTimeouts.dialTimeout=30s'
        - name: additionalArguments[7]
          value: '--serversTransport.forwardingTimeouts.responseHeaderTimeout=1h'
        - name: additionalArguments[8]
          value: '--serversTransport.forwardingTimeouts.idleConnTimeout=1h'